* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #1e1e2a;
    background-image: linear-gradient(#1e1e2a, black, #1e1e2a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(225, 225, 225);
    font-size: 2rem;
    font-weight: bold;
}

a {
    color: rgb(225, 225, 225);
    text-decoration: none;
}
