// Whole Page
$primary-background: #1e1e2a;
$primary-font: rgb(225, 225, 225);
$secondary-font: rgb(175, 175, 175);
$primary-header-border: rgb(255, 150, 150);
$secondary-header-border: rgb(0, 200, 255);

// Nav Bar
$nav-bg: black;
$nav-hover: rgb(50, 50, 50);
$nav-bg-active: rgb(100, 100, 100);
$nav-font-active: white;
