// Whole Page
$primary-background: #1a1a2a;
$secondary-background: #2a2a1a;
$primary-font: rgb(225, 225, 225);

// Nav Bar
$nav-bg: black;
$nav-hover: rgb(50, 50, 50);
$nav-bg-active: rgb(100, 100, 100);
$nav-font-active: white;

// Home

// About

// Project

// Contact
