@use "color";

@mixin flex($direction: row, $justify: normal, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin tablet {
    @media screen and (max-width: 991.98px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}
