@use "color";
@use "modules";

.about {
    @include modules.flex($justify: center, $align: center);
    background-color: color.$secondary-background;
    color: color.$primary-font;

    & > div {
        flex-basis: 50%;
    }

    .about-skills {
        @include modules.flex(
            $direction: column,
            $justify: center,
            $align: center
        );
    }
}
