@use "color";
@use "modules";

.about {
    @include modules.flex($justify: center, $align: center);
    background-color: color.$secondary-background;
    color: color.$primary-font;
    font-size: 3rem;
}
