@use "color";
@use "modules";

.about {
    display: flex;
    background-color: color.$secondary-background;
    color: color.$primary-font;
    padding: 100px;

    .about-content {
        @include modules.flex($justify: center, $align: center);
        margin: auto;
        max-width: 1920px;

        & > div {
            flex-basis: 50%;
        }

        p {
            font-size: 1.5rem;
        }

        .about-skills {
            @include modules.flex(
                $direction: column,
                $justify: center,
                $align: center
            );
        }
    }
}
