@use "modules";

.carousel {
    overflow: hidden;

    .carousel-container {
        white-space: nowrap;
        transition: transform 0.3s;
        width: 500px;
    }

    .carousel-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}
