@use "color";
@use "modules";

.contact {
    @include modules.flex($direction: column, $justify: center, $align: center);
    background-color: color.$secondary-background;
    color: color.$primary-font;
    font-size: 2rem;
}
