@use "color";
@use "modules";

.home {
    @include modules.flex($direction: column, $justify: center, $align: center);
    gap: 25px;
    background-color: color.$primary-background;

    .Typewriter {
        text-align: center;
    }

    .Typewriter__wrapper {
        color: color.$primary-font;
        font-size: 3rem;
        font-weight: bold;
    }

    .Typewriter__cursor {
        color: color.$primary-font;
        font-size: 3rem;
        font-weight: bold;
    }

    & > button {
        @include modules.button();
    }
}
