@use "color";
@use "modules";

.home {
    @include modules.flex($direction: column, $justify: center, $align: center);
    background-color: color.$primary-background;

    p {
        color: color.$primary-font;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        @include modules.flex($justify: center, $align: center);
    }

    .input-cursor {
        display: inline-block;
        width: 3px;
        height: 3rem;
        background-color: color.$primary-font;
        margin-left: 5px;
        animation: blink 0.6s linear infinite alternate;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        60% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}
