@use "color";
@use "modules";

.project {
    display: flex;
    color: color.$primary-font;
    padding: 100px;

    .project-content {
        @include modules.flex($direction: column);
        margin: auto;
        max-width: 1920px;
        width: 100%;

        h1 {
            margin-bottom: 100px;
            font-size: 3rem;
            border-bottom: 1px solid color.$primary-header-border;
            padding-bottom: 5px;
        }

        .project-title {
            font-size: 2rem;
            border-bottom: 1px solid color.$secondary-header-border;
            padding-bottom: 5px;
        }

        .project-description {
            font-size: 1.5rem;
            color: color.$secondary-font;
        }

        img {
            pointer-events: none;
            min-width: 200px;
            height: auto;
            align-self: flex-start;
            box-shadow: -30px 30px 0 color.$secondary-header-border;
        }

        .left-gif {
            display: flex;
            gap: 10px;

            & > * {
                flex-basis: 50%;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            img {
                box-shadow: 30px 30px 0 color.$secondary-header-border;
            }
        }

        .right-gif {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;

            & > * {
                flex-basis: 50%;
                text-align: end;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: color.$secondary-header-border;
            border: 2px solid color.$secondary-header-border;
            font-weight: bold;
            background: none;
            text-align: center;
            border-radius: 5px;
            transition: transform 0.5s ease-in-out;

            &:hover {
                background-color: color.$secondary-header-border;
                color: white;
                transform: scale(1.25);
            }

            &:first-child {
                margin-right: 20px;
            }
        }

        .project-title {
            font-weight: bold;
        }

        hr {
            margin: 100px 0;
        }
    }
}
