@use "color";
@use "modules";

.project {
    @include modules.flex($direction: column);
    background-color: color.$primary-background;
    color: color.$primary-font;
    font-size: 2rem;
    padding: 100px;
    gap: 100px;

    img {
        pointer-events: none;
    }

    .left-gif {
        display: flex;

        & > * {
            flex-basis: 50%;
        }

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .right-gif {
        display: flex;
        flex-direction: row-reverse;

        & > * {
            flex-basis: 50%;
            text-align: end;
        }

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    a {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        margin: 20px;
    }

    .project-title {
        font-weight: bold;
    }
}
