@use "color";
@use "modules";

.project {
    display: flex;
    background-color: color.$primary-background;
    color: color.$primary-font;
    font-size: 2rem;
    padding: 100px;

    .project-content {
        @include modules.flex($direction: column);
        margin: auto;
        max-width: 1920px;
        width: 100%;

        img {
            pointer-events: none;
            min-width: 200px;
            height: auto;
            align-self: flex-start;
        }

        .left-gif {
            display: flex;

            & > * {
                flex-basis: 50%;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .right-gif {
            display: flex;
            flex-direction: row-reverse;

            & > * {
                flex-basis: 50%;
                text-align: end;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            border: 1px solid white;
        }

        .project-title {
            font-weight: bold;
        }

        hr {
            margin: 100px 0;
        }
    }
}
