@use "color";
@use "modules";

.about {
    display: flex;
    color: color.$primary-font;
    padding: 100px;

    @include modules.tablet {
        padding: 50px;
    }

    @include modules.mobile {
        padding: 5px 5px 50px 5px;
    }

    .about_content {
        @include modules.flex($justify: center, $align: center);
        margin: auto;
        max-width: 1920px;
        gap: 50px;
        width: 100%;

        @include modules.tablet {
            flex-direction: column;
        }

        h1 {
            margin-bottom: 50px;
            padding-bottom: 5px;
            font-size: 3rem;
            border-bottom: 1px solid color.$primary-header-border;
        }

        p {
            font-size: 1.5rem;
            color: color.$secondary-font;
            text-align: justify;
        }

        @include modules.mobile {
            h1 {
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .about_skills {
            @include modules.flex(
                $direction: column,
                $justify: center,
                $align: center
            );

            @include modules.mobile {
                .tagcanvas {
                    width: 90vw;
                    height: 90vw;
                }
            }
        }
    }
}
