@use "color";
@use "modules";

.menu-icon {
    display: none;
    min-height: 0 !important;
    position: sticky;
    top: 0;
    text-align: end;
    padding: 10px;
}

@include modules.mobile {
    .menu-icon {
        display: block;
    }

    .hide-icon {
        visibility: hidden;
    }
}

.nav-bar {
    padding: 0 10px;
    position: sticky;
    top: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: color.$primary-font;
    font-weight: bold;
    z-index: 10;
    backdrop-filter: blur(5px);
    overflow-y: auto;

    .close-button {
        display: none;
    }

    li {
        padding: 20px;
        cursor: pointer;
        position: relative;
        display: flex;

        span {
            position: relative;
            overflow: hidden;
            transition: 0.5s;

            .nav-out {
                display: inline-flex;
            }

            .nav-in {
                position: absolute;
                left: 0;
                opacity: 0;
                transform: translateX(100%);
            }
        }

        &:hover {
            background-color: color.$nav-hover;
            span {
                .nav-out {
                    opacity: 0;
                    transform: translateX(-100%);
                }

                .nav-in {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &.active {
            background-color: color.$primary-header-border;
            color: color.$nav-font-active;
        }
    }

    &:hover {
        background-color: color.$nav-bg;
    }

    @include modules.mobile {
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        justify-content: normal;
        transform: translateX(100%);
        transition: transform 0.4s ease-out;

        &[data-visible="true"] {
            transform: translateX(0%);
        }

        .close-button {
            text-align: end;
            margin-top: 10px;
            display: block;
        }

        li {
            justify-content: center;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
