@use "color";
@use "modules";

.project {
    display: flex;
    color: color.$primary-font;
    padding: 100px;

    @include modules.tablet {
        padding: 50px;
    }

    @include modules.mobile {
        padding: 5px;
    }

    .project_content {
        @include modules.flex($direction: column);
        margin: auto;
        max-width: 1920px;
        width: 100%;

        h1 {
            margin-bottom: 100px;
            font-size: 3rem;
            border-bottom: 1px solid color.$primary-header-border;
            padding-bottom: 5px;
        }

        .project_title {
            font-size: 2rem;
            border-bottom: 1px solid color.$secondary-header-border;
            padding-bottom: 5px;
        }

        .project_description {
            font-size: 1.5rem;
            color: color.$secondary-font;
        }

        @include modules.tablet {
            h1 {
                margin-bottom: 25px;
            }

            .project_title {
                margin-bottom: 10px;
            }

            .project_description {
                margin-bottom: 10px;
                text-align: justify;
            }
        }

        @include modules.mobile {
            h1 {
                font-size: 1.5rem;
            }

            .project_title {
                font-size: 1.25rem;
            }

            .project_description {
                font-size: 1rem;
            }
        }

        img {
            pointer-events: none;
            min-width: 200px;
            width: 100%;
            height: auto;
            align-self: flex-start;
            box-shadow: -30px 30px 0 color.$secondary-header-border;
        }

        .left_gif {
            display: flex;
            gap: 10px;

            & > * {
                flex-basis: 50%;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            img {
                box-shadow: 30px 30px 0 color.$secondary-header-border;
            }

            @include modules.tablet {
                flex-direction: column;

                img {
                    box-shadow: none;
                }
            }
        }

        .right_gif {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;

            & > * {
                flex-basis: 50%;
                text-align: end;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @include modules.tablet {
                flex-direction: column;

                img {
                    box-shadow: none;
                }

                & > * {
                    text-align: start;
                }
            }
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            color: color.$secondary-header-border;
            border: 2px solid color.$secondary-header-border;
            font-weight: bold;
            background: none;
            text-align: center;
            border-radius: 5px;
            transition: transform 0.5s ease-in-out;

            &:hover {
                background-color: color.$secondary-header-border;
                color: white;
                transform: scale(1.25);
            }

            &:first-child {
                margin-right: 20px;
            }

            @include modules.mobile {
                margin: 5px 0;

                &:first-child {
                    margin-right: 5px;
                }
                padding: 5px 10px;
            }
        }

        .project_title {
            font-weight: bold;
        }

        hr {
            margin: 100px 0;

            @include modules.mobile {
                margin: 50px 0;
            }
        }
    }
}
